body {
  margin: 0;
  padding: 0;
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7c6a0a;
  padding: 0px 15px 0px 45px;
}
nav p {
  font-size: 1.5em;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  color: #7c6a0a;
  padding: 0px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
  width: 12vw;
  padding: 20px;
  background-color: #fa9500;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7c6a0a;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 80px;
  flex-wrap: wrap;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 14vw;
  height: 45vh;
  background-color: #ffdac6;
  color: #7c6a0a;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 12px 0;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .furniture .product-card {
  background-color: #babd8d;
  color: white;
}

.main {
  height: auto;
  width: 100%;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  padding-bottom: 60px;
  font-weight: bold;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 30vw;
  color: #e86424;
}
.about-us .mission-section div img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section div p {
  text-align: center;
  font-size: 1.5em;
}

.gallery h2 {
  padding-bottom: 60px;
  font-weight: bold;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transform-origin: center; /* Centrar el punto de origen */
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease; /* Agregar transiciones para todo */
}

.location {
  color: #e86424;
}
.location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location h3, .location p {
  font-size: 1.5em;
}

footer {
  background-color: #fa9500;
  height: auto;
  width: 100%;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */